<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>

    <style>
        .auth ul.errorlist {
            display: flex;
            /*marker: none;*/
            list-style-type: none;
            margin-top: 4px;
            margin-left: 0;
            padding-left: 10px;
            color: dimgray;
        }

        .auth ul {
            display: none;
        }

        .helptext {
            display: none;
        }
    </style>
</head>
<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>